.content {

}

.navbar {
    background-color: #fff;
    border: 0;
}

.content {
    margin-left: 15px;
}

#news h3 {
    margin-top: 35px;
    margin-bottom: 5px;
}

#news h4 {
    color: #aaa;
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
}
