{% extends "layout.html" %}

{% block content %}
<div id="login" class="col-md-6 col-md-offset-3">
<h3>Login</h3>

{% if user.is_authenticated %}
    <p>You are logged in as user <strong>{{ user.username }}</strong>.</p>
{% else %}
    {% if form.errors %}
    <div class="alert alert-danger">Invalid Username or Password. Please try again.</div>
    {% endif %}

    <form id="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="/" />
        <table>
        <tr>
            <td><label for="id_username">Username</label></td>
            <td><input id="id_username" maxlength="254" name="username" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="id_password">Password</label></td>
            <td><input id="id_password" maxlength="4096" name="password" type="password" class="form-control" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><button type="submit" class="btn btn-primary">Login</button></td>
        </tr>
        </table>
    </form>
{% endif %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $("#id_username").focus();
});
</script>
{% endblock %}