{% extends "layout.html" %}

{% block preamble %}
<!--
:,,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::~~~~~~
,,,,,,,:::::::::::::,:::::::::::::::::::::::::::::::::::::::::::::::::::::::~~~~
,,,,,,,,,,,::::::::,,,,,,::,,,,:,:::::$77Z=:::::::::::::::::::::::::::::::::::~~
,,,,,,,,,,,,,,,::::,,,,,,,,,,,,,,::77I7I777$$$::::::::::::::::::::::::::::::::~~
,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,,:II7I7,:::::7$ZZ:::::::::::::::::::::::::::::::~
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,~?III~,,:::::::::$ZZ:::::::::::::::::::::::::::::~
,,,,,,,,,,,,,,,,,,,,,,,,,,,,.=?II?,,,,,,,,:,:::::$Z$:::::::::::::::::::::::::::~
,,,,,,,,,,,,,,,,,,,,.......~=III?,,,,,,,,,,:,:::::~$7::::::::::::::::::::::::::~
,,,,,,,,,,,,,,,,,,,.......==??II...,,,,,,,,,,,,::::,77:::::::::::::::::::::::::~
,,,,,,,,,,,,,,.,.........==???I......,,,,,,,,,,,,:::,77,::::::::::::::::::::::::
,,,,,,,,,,,,,,.,,,,.....==????. ........,,,,,,,,,,,,::77,,,,,,::::::::::::::::::
,,,,,,,,,,,,,,,,,,,,,,,==+???     .......,,,,,,,,,,,,,,77,,,,,,,,:::::::::::::::
,,,,,,,,,,,,,,,,,,,,,,===?I?...  .    ....,,,,,,,,,,,,,,77,,,,,,,,,,::::::::::::
,,,,,,,,,,,,,,,,,,,,,,==??II..................,,,,,,,,,,7I7,,,,,,,,,,,,,,,,,,,::
,,,,,,,,,,,,,,,,,,,,,==+?I?,,........... ......,,,,,,,,,,77I,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,,===???I,,,..........  ...........,,,,~7I,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,=~=??II,,,,,,,,.............. .....,,,,III,,,,,,,,,,,,,.,,,,,
.....,,,,,,,,,,,,,,===???,,,,,,,,,......................,,,III,,,,,,,,,,,,,,,,,,
.........,,,,,,,,,===????::,,,,,,,,,,...................,,,III,,,,,,,,,,,,,,,,,,
,........,,,,,,,,===????::::::,,,,,,,,,.............,,,,,,,,III,,,,,,,,,,,,,,,,,
,,,,,...,,,,,,,,:===????::::::::,,,,,,,.............,,,,,,,,III7,,,,,,,,,,,,,.,,
,,,,,,,,,,,,,,,,===????=:::::::,,,,,,,.,..,...,,,,,,,,,,,,,,,III,,,,,,,,......,,
,,,,,,,,,,,,,,,====????::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IIII,,,............
,,,,,,,,,,,,,,,===?I??~,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,III,,,,,.........,
,,,,,,,,,,,,,,====????,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IIII,,,,,,,,,,,,,,
,,,,,,,,,,,,,:===????I,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:+III,,,,,,,,,::,::
,,,,,,,,,,,,,====????,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::IIII::,,:::::::::
,,,,,,,,,,,,====+????,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::IIII::,::::::::::
,,,,,,,,,,,,====????,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::III+::::::::::::
,,,,,,,,,,,++===?I??,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,::::::::::::IIII:::::::::::~
,,,,,,,,,,,=+==???I?::::,,,,,,,,,,,,,,,,,,:,,,,,::::::::::::::::III7~~~~~~~~~~~~
,,,,,,,,,,+++=+I???::::::::,,,,,,,,,,:,,,,,,,,:::::::::::::::::::77I7~~~~~~~~~~~
,,,,,,,,,,+==+IIIII,,,,:::::,,,,::,:,::,,:,,,,::::::::::::::::::~III7~~~~~~~~~~~
,,,,,,,,,+++++IIII?,,,,,,,::::::::::::,::::::,::::::::::::::~~~~~IIII7~~~~~~~~~~
,,,,,,,,,++++IIIII,,:,:::::::::::::::::::::::::::::::::::::~~~~~~=I77I~~~~~~~~~~
,,,,,,,,+++++IIIII:::::::::::::::::::::::::::::::::::::::~:~~~~~~~77II~~~~~~~~~~
,,,,,:::++++?IIII~:::::::::::::::::::::::::::::::::~::~~~~~~~~~~~~I7777~~~~~~~~~
:::::::+++++IIIII::::,,:::::::::::::::::::::::::::::~:::~~~~~~~~~~=7777~~~~~~~~=
:::::::+++++IIIII:::,::::::::::::::::::::::::~~~~~~~~~~~~~~~~~~~~~~7777I~~~~~~==
:~~~~~+++++I7I7I+:::::::::::::::::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~77777~~~~=~==
::::~~??+++77777~~~::::::::::::~:~::::::::::~~~~~~~~~~~~~~~~~~~~~~~77777~~=~~~~=
:::::~?+??+77777~::::,,:::::::~::~~~~~~~~~:~~~~~~~~~~~~~~~~~~~~~~~~=7777I~=~~~~=
:::::+????77777I::::::::::::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~77$$7=======
~~~:~?????77777::::::::::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~7$$$$=======
~~~~?????$7$777:::::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~:7$$$$?=~~~~~
~~~~?????7$$$7I::::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~:::::~~=$$$$$::::~~
~~~??????$$$$7:::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~::~~~~~$$$$$~~~~~=
~~~?????$$$$$7~~~~:~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~$$$$$7~~~==
~~+?????$$$$$$~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~::::::~7$$ZZ$~====
~~II7I?IZZ$$$=~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~::::~~:ZZ$ZZ===+=
=?Z7$$ZOOZZ$$~~~~~~~:::~~~~~~~~~~~~~==~~~~~~~~~~~~~~~~~~~+~=+=?+~=~~~~ZZZ$O$=??I
+ZNZ8O8DD8ZZ$~~~~~~~~~~=~+=?II??==+++?+7++I+I?7=++?====~=?+~I=???I==~~ZOOOZO?I$?
$Z$MNONNDN8O?~=~~~~~~+?????I$?+ZI?+I+I7OI=+I7?7$7I$I$IO$II$=?O7777?OI~ZODDN887Z7
ZMMDMZMNMD8N$I+=~~~=~+I$++?II+$$II++$?7$$ZZ$?+8IZ$MDNOO8$ODD?O8ZD88ODODDMNDNMMMN
O$MNNNMNDMMNNNDO8ZO88OON8D8DDNDDDD8DDDNDDDN8NO8NDNDNMMMMMNMMMMMMMMMMNNNDNMNDNMMM
8DNMNMMD8NMNN8ZO8Z$ZZ$8NND88MDN8NDDNDNNNMDNNDNNMMMMMMNMMMMMMMMMMMMMMMMMOD8MD8MMM
8MMMMMNNMMMM8D8ZZDO8DDN8N8N88N8DMOOODMNMNMODMMZOMNMMMMMMMMMMMMNNMMNMDM8MDDMMD8MM
-->
{% endblock %}

{% block content %}
<div id="about">
    <h2>About</h2>

    <p>Gateway Hackers is a news link site for developers, designers, entrepreneurs, and other IT professionals in St. Louis.</p>

    <h3>Contact</h3>
    <p>Please direct questions and comments to <a href="mailto:gatewayhackersnews@gmail.com">gatewayhackersnews@gmail.com</a>.</p>

    <h3>Link Submission Guidelines</h3>
    <p>Basically, if a programmer, designer, tester, team lead, or anyone involved in IT or running a startup might find it interesting and it doesn't violate the Code of Conduct, post it.  We're especially interested in links focused on the greater St. Louis area.</p>

    <h3>Code of Conduct</h3>
    <p>Gateway Hackers strives to be an inclusive, diverse and welcoming place.  Our community guidelines are based on the <a href="http://speakup.io/coc.html">Speak Up! Code of Conduct</a>:</p>

    <ul>
    <li>Be welcoming, friendly, and patient.</li>
    <li>Be considerate.</li>
    <li>Be respectful. Not all of us will agree all the time, but disagreement is no excuse for poor behaviour and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack. It's important to remember that a community where people feel uncomfortable or threatened is not a productive one. Members of the Gateway Hackers community should be respectful when dealing with other members.</li>
    <li>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Be kind to others. Do not insult or put down other participants. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for the community.</li>
    <li>When we disagree, we try to understand why. Disagreements, both social and technical, happen all the time and Gateway Hackers is no exception. It is important that we resolve disagreements and differing views constructively. Remember that we're different. The strength of Gateway Hackers comes from its varied community, people from a wide range of backgrounds. Different people have different perspectives on issues. Being unable to understand why someone holds a viewpoint doesn't mean that they're wrong. Don't forget that it is human to err and blaming each other doesn't get us anywhere, rather offer to help resolving issues and to help learn from mistakes.</li>
    </ul>

    <h3>Behind the Scenes</h3>
    <p>Gateway Hackers started as a personal project in October 2013 by <a href="http://mikejanger.net">Mike Janger</a>, a St. Louis developer.  Inspired by <a href="http://news.ycombinator.com">Hacker News</a>, <a href="http://reddit.com">Reddit</a>, <a href="lobste.rs">Lobsters</a>, and a few other sites, Gateway Hackers exists to provide a place for St. Louis residents to share and discuss tech news.  The site is powered by <a href="http://linode.com">Linode</a>, <a href="http://ubuntu.com">Ubuntu</a>, <a href="http://nginx.org/en/">nginx</a> and the <a href="http://python.org">Python</a> programming language and <a href="http://djangoproject.com">Django</a> web framework.  Source is available on <a href="https://github.com/inchingforward/gh">Github</a>.</p>
</div>

{% if GOOGLE_ANALYTICS_ID %}
    {% include "analytics.html" %}
{% endif %}

{% endblock %}
