{% extends "layout.html" %}

{% block preamble %}
<!--
        @@@  @@@@@@          @@@@@@   @@@@@@@  @@@       
      @@@    @@@@@@@        @@@@@@@   @@@@@@@  @@@       
    @@!          @@@        !@@         @@!    @@!       
  !@!            @!@        !@!         !@!    !@!       
!!@          @!@!!@         !!@@!!      @!!    @!!       
!!!          !!@!@!          !!@!!!     !!!    !!!       
  !!:            !!:             !:!    !!:    !!:       
    :!:          :!:            !:!     :!:     :!:      
      ::     :: ::::        :::: ::      ::     :: ::::  
        :     : : :         :: : :       :     : :: : :
-->
{% endblock %}

{% block content %}
Coming soon!
{% endblock %}