{% extends "layout.html" %}

{% block content %}

<h2>Upcoming Meetups</h2>

<div id="meetup-event-table" class="table-responsive">
<table class="table table-striped table-hover table-condensed">
<tr>
    <th>Group</th>
    <th>Event</th>
    <th>When</th>
    <th>Where</th>
    <th>Map</th>
</tr>

{% for meetup in meetups %}
{% with event=meetup.get_next_event %}
<tr>
    <td><a href="{{ meetup.url }}">{{ meetup.name }}</a></td>
    <td><a href="{{ event.url }}">{{ event.name }}</a></td>
    <td nowrap="nowrap">{{ event.event_date|date:"M d h:i a" }}</td>
    <td>{{ event.venue_name }}</td>
    <td>{% if event %}<a href="https://maps.google.com/?q={{ event.address_1 }}, {{ event.city }}, {{ event.state }}, {{ event.zip }}"><i class="fa fa-map-marker"></i></a>{% endif %}</td>
</tr>
{% endwith %}
{% endfor %}
</table>
</div>

<p>Missing a Meetup?  <a href="mailto:contact@gatewayhackers.com?subject=Missing%20Meetup">Let us know.</a></p>

{% if GOOGLE_ANALYTICS_ID %}
    {% include "analytics.html" %}
{% endif %}

{% endblock %}
