{% extends "account/base.html" %}

{% load account %}
{% load bootstrap %}
{% load socialaccount %}
{% load url from future %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Log In</h2>

        <p>If you have not created an account yet, please
        <a href="{{ signup_url }}">sign up</a> first or log in with one of the 
        third-party logins below.</p>

        <form id="login-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
    
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            </table>
            {% comment %}<a class="button" href="{% url 'account_reset_password' %}">Forgot Password?</a>{% endcomment %}
            <p align="center"><button class="btn btn-primary" type="submit">Log In</button></p>
        </form>

        <div class="social-login-divider">
          <span class="social-login-divider-text">OR</span>
        </div>

        {% include "account/social_buttons.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $("#id_login").focus();
});

</script>
{% endblock %}