{% extends "account/base.html" %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up</h2>

        <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.  If you 
        don't want to create yet another login, you can sign in using one of the 
        <a href="#sociallogins">third-party logins below</a>.</p>
        
        <form id="signup-form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        {{ form|bootstrap }}

        <p align="center"><button class="btn btn-primary" type="submit">Sign Up &raquo;</button></p>
        </form>
        
        <div class="social-login-divider">
          <span class="social-login-divider-text">Don't want to create another login?</span>
        </div>
        
        {% include "account/social_buttons.html" %}
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $('#id_username').focus();
});
</script>
{% endblock %}