{% extends "layout.html" %}
{% load threadedcomments_tags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}        
{% endif %}

<div id="post-detail">
<h3><a href="{{ object.url }}">{{ object.title }}</a></h3>
<p>by <a href="/profiles/{{ object.user.username }}">{{ object.user.username }}</a> {{ object.created|timesince }} ago</p>
</div>

{% render_comment_form for object %}

<div class="row">
  <div class="col-md-8">{% render_comment_list for object %}</div>
  <div class="col-md-4"></div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    function show_reply_form(commentId) {
        $('#id_parent').val(commentId);
        $('#form-comment').insertAfter($('#a_' + commentId));
        $('#id_comment').focus();
    }
</script>
{% endblock %}
